@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#miami{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 9rem;
   
    
    
                                                
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #111111;
    position: relative;
}


.logo{
    color: #E6533C;
    font-size:2.1rem;
    font-weight: 800;
    font-style: italic;
}
.nav-opt{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
   height: 3rem;
   padding-left: 0.3rem;
    padding-right: 1.6rem;
   color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;

}
.nav-bar{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    max-width:1060px;
        }

        .home{
            background-color: #E6533C;
            border-radius: 46px;
            font-weight: 600;
            padding:.5rem 1.2rem;
        }

        .bg-banner{
            background: rgb(35,35,35);
background: linear-gradient(180deg,black 0%, rgba(35,35,35,1) 40% , black 100%); 

}

/* banner */
.banner-con h1{
    font-size: 5rem;
    color: #FFFFFF;
    font-weight: 800;
    width: 520px;
  margin-bottom: 0;
  line-height: 75px;
  text-align: left;
  
}
.nav-opt p{
    color: white;
}
.banner-con p{
    margin-top: 5%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
  
    width: 520px;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 190px;
    align-items: center;
  
}
.btn-primary{
    background-color: rgba(230, 83, 60, 1);
    border-radius: 42px;
    padding: 1rem 3rem;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    
}
.banner-img{
    position: relative;
}
.banner-img>p{
    color:  #EFEDE8;;
}
.btn{
    border: 2px solid #FFFFFF;
    border-radius: 42px;
    padding: 1rem 3rem;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
    background-color: black; 
    margin-left: 14px;
    cursor: pointer;
}

.box{
    position: absolute;
    background: rgba(145, 140, 140, 0.6);
   backdrop-filter: blur(3px);
    color: white;
  padding: 10px 30px;
  border-radius: 10px;


}


  .top-right{
    top: 130px;
   right: -81px;
 
}

.bottom-left{
    bottom: 70px;
  left: -100px;
  display: flex;
  align-items: center;
}

.dot{
    border-radius: 50%;
    background-color: #E6533C;
    color: #E6533C;
    height: 40px;
  width: 40px;
  display: inline-block;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}
.dot i {
    color: white;
    font-size: 16px;
}

/* Habit */

.men{

    margin:0 190px;
}

.men h2{
    font-size: 3rem;
    color: #FFFFFF;
}
.habit{
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    gap: 14px;
    width: 671px;
    justify-content: center;
    padding:0 186px;
   
}

.habit-img{
    display: flex;
    justify-content: center;
    align-items:center;
  
}

.habit-img>div>img{
    border-radius: 50%;
   box-shadow:3px 3px #9f9b9290 ,-3px -3px #9f9b9290,-3px 3px #9f9b9290,3px -3px #9f9b9290;
   justify-content: center;
   align-items: center;
   margin: 33px;

}

.habit-img>div>p{
    
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    text-align: center;


}
h2{
    font-size: 3rem;
    color: #FFFFFF;
    
}
h4{
   margin-top: 0;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.12rem;
    text-align: center;
}
  .bmi-sec h3,.bmi-chart h3,.foot-opt h3{
    margin-top: 0;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.12rem; 
}

.habit-img>div{
    padding: 20px;
}

.run-img img{
    width: 366px;
    height: 312px;
  
   border-radius: 18px;
}

.run-full{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
p{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}
.run{
    width: 443px;
    padding: 10px;
}

.runner{
    width: 1060px;
  background-color:rgba(34, 34, 34, 0.8) ;
  
    backdrop-filter: blur(6px);
    border-radius: 18px;
    padding:0 45px;
 
}

.margin{
    margin: 30px 0;

}

.bmi{
   
    width: 67%;
    margin: 15% 16%;
   
}

table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.5);
  	border-collapse: collapse;
}
table{
    width: 100%;
    height: 100%;
}
th,td{
    padding: 10px;

}
.bmi-chart{
    padding: 20px;
   
}

.bmi-sec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    margin: 30px ;
    max-width: 1440px;
   
  
}
#span{
    
    grid-column:span 2;
}
form {
    display: grid;
   grid-template-columns: 1fr 1fr ;
    gap: 1rem;
    
}
input, select {
    padding: .75rem;
    border: none;
    border-radius: 5px;
   color: white;
    background-color: #999999;
    backdrop-filter: blur(4px);
}
input::placeholder,select::placeholder{
    color: white;
}
.team-img img{
    width: 326px;
    height: 272px;
  margin: 0 auto;
  padding: 0;
   border-radius: 18px;
  
}

.team-img{
    background-color: #9999993d;
    border-radius: 18px;
    padding: .8%;
    width: 1060px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 12px;
    justify-content: center;
    margin: 2% 12%;
}

.team{
    width: 671px;
    text-align: center;
    margin: 30px 380px;
}
.footer{
    display: flex;
    justify-content: space-between;
   margin: 40px;
   padding: 100px;
   align-items: center;
}

.foot-logo{
    width: 443px;

}

.foot{
    width: 514px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last{
  
    padding-bottom: 20px;
}

.foot-logo h3{
    color: #E6533C;
    font-size:3rem;
    font-weight: 800;
    font-style: italic;
}

.foot-opt h3{
    font-size:1.8rem;
}
.team-mem{
    position: relative;
}
.name h4{
    position: absolute;
    top: 68%;
    right:65% ;
    color: #FFFFFF;
  font-size: 1.2rem;
    font-weight: bold;

}
.name p{
    position: absolute;
    top: 78%;
    right:78% ;


}

.burger{
    display: none;
}

/* Responsive */

@media screen  and (max-width:576px){
    .nav-opt{
        display: none;
    }
    
    .burger{
        display: block;
    }
}

